.order{
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 100%;
}

.order-container{
    width: 350px;
}
.order-container h1{
    margin-top: 40px;
}
.order-container button{
    margin-top: 20px;
    margin-left: 30px;
    padding: 10px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.order-container button:hover{
    background-color: #45a049;
}
h1{
    font-size: 40px;
}
p{
    margin-top: 20px;
}
.para{
    font-size: 20px;
}
.book{
    margin-top: 80px;
}
.book img{
  
    width: 400px;
    height: auto;
}