* {
    padding: 0;
    margin: 0;
}

.body {
    height: 100vh;
    width: 100vw;
}

.container {
    margin-left: 300px;
    padding: 20px;
    gap: 40px;
    margin-top: 200px;
    background-color: rgb(44, 16, 44);

}

.banner {
    flex: 1;
    background-size: cover;
    background-position: center;
    height: 400px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner-container {
    position: relative;

}

.banner-container img {
    max-width: 350px;
    max-height: 350px;
    position: absolute;
    right: -180px;
    top: -100px;
    transform: translate(50%);

}

.banner-container .btn {
    background-color: #068035ab;
    color: white;
    margin-right: 50px;
    height: 30px;
    width: 20px;
    border-radius: 50%;

}

.btn-container .btn {
    background-color: rgb(6, 126, 52);
    margin-left: 60px;
    margin-top: 80px;
    color: white;
    height: 30px;
    width: 20px;
    border-radius: 50%;

}


.shop-container {
    display: flex;
    justify-content: space-around;
    margin-left: 400px;

}

.shop h2 {
    margin-bottom: 20px;
    color: rgba(255, 166, 0, 0.753);
}

.shop h1 {
    font-weight: bold;
    font-size: 35px;
}

.shop p {
    margin-top: 15px;

}

.shop button {
    padding: 10px 20px;
    background-color: #49b908;
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    margin-top: 23px;
}

.shop button:hover {
    background-color: #38ff59;
    font-weight: bold;

}



.btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Payment Form Styles */
.form-container {
    flex: 0 0 350px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-heading {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    font-size: 14px;
    color: #333;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-input:focus {
    border-color: #ff5a5f;
    outline: none;
}

.error-message {
    font-size: 12px;
    color: red;
    margin-top: 5px;
}

.submit-button {
    width: 100%;
    padding: 12px;
    background-color: #ff5a5f;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #ff383d;
}

/* Responsive Styles */